
.loader {
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(360deg); }
}


/* -------------------------------------------- Mobile / Handhelds -------------------------------------------- */
/* Portrait and Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 767px)
and (-webkit-min-device-pixel-ratio: 2) {

  .loader{
    border: 0.57em solid #f3f3f3; /* Light grey */
    border-top: 0.57em solid #3498db; /* Blue */
    width: 4em;
    height: 4em;
    margin: 0.42em auto;
    animation: spin 2s linear infinite;
  }

}

/* Portrait */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 767px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
}

/* Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 767px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {

}











/* -------------------------------------------- Tablets -------------------------------------------- */
/* Portrait and Landscape */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 1) {

  .loader{
    border: 0.85em solid #f3f3f3; /* Light grey */
    border-top: 0.85em solid #3498db; /* Blue */
    width: 6em;
    height: 6em;
    margin: 0.42em auto;
    animation: spin 2s linear infinite;
  }

}

/* Portrait */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 1) {

}

/* Landscape */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 1) {

}











/* -------------------------------------------- Non-Retina Screens -------------------------------------------- */
@media screen
and (min-device-width: 1025px)
and (-webkit-min-device-pixel-ratio: 1) {

  .loader{
    border: 1em solid #f3f3f3; /* Light grey */
    border-top: 1em solid #3498db; /* Blue */
    border-radius: 50%;
    width: 7em;
    height: 7em;
    margin: 1em auto;
    animation: spin 2s linear infinite;
  }

}

/* ----------- Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) {

  .loader{
    border: 1em solid #f3f3f3; /* Light grey */
    border-top: 1em solid #3498db; /* Blue */
    border-radius: 50%;
    width: 7em;
    height: 7em;
    margin: 1em auto;
    animation: spin 2s linear infinite;
  }

}
